<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<title>New Menu Item - HawkeRise</title>
</head>
<body>
	<div>
		<header th:insert="layout/navbar.html :: navbar3"></header>
	</div>

	<div class="container-fluid" style="padding-top: 70px">
		<div class="card" style="width: 30%">
			<div class="card-body mb-4 col-11">
				<h4 class="card-title">Add Menu Item</h4>
				<hr>

				<form th:action="@{/menu/save}" th:object="${newMenu}" method="POST"
					enctype="multipart/form-data">

					<input type="hidden" th:field="*{id}" th:required="required" />
					
					Photo: <input name="filePhoto" type="file" accept="image/png, image/jpeg" class="custom-file-input"
						id="customFile">
					<label class="custom-file-label" for="customFile">Product Image</label>

					Name: <input type="text" name="mname" th:field="*{name}" class="form-control mb-4 " 
						placeholder="ABC" th:required="required">
						
					Description: <textarea name="mdesc" th:field="*{description}" class="form-control mb-4" 
						placeholder="Slow-cooked for eight hours..." th:required="required" rows="3"></textarea>
						
					Price($): <input name="mprice" type="number" th:field="*{price}" class="form-control mb-4 "
						placeholder="4.50" th:required="required" min="0.05" step="0.05"> 
						
					Status: <select name="mstatus" th:field="*{status}" class="form-control mb-4 " th:required="required">
						<option value="Available">Available</option>
						<option value="Running Low">Running Low</option>
						<option value="Out of Stock!">Out of Stock!</option>
					</select>

					<button type="submit" class="btn btn-info ">Save</button>
				</form>
				<hr>
				<a th:href="@{/menu/list}">Back to Menu</a>
			</div>
		</div>
	</div>

</body>
</html>